<div class="project-details">
    <h1>My projects</h1>
    <p>These are some of my favorite projects that I have worked on over the last few years. I primarily focus on
        back-end development, integrating databases, and building RESTful APIs, though I also have extensive experience working on full-stack development. 
        Hover over and click on the each project to find out more about them!
    </p>
</div>


<div class="portfolio_area">
        <!-- <div class="container-fluid p-0"> -->
        <div class="portfolio_wrap">
            <div class="single_gallery">
                <div class="thumb">
                    <img src="assets/portfolio/ACMsplash.png" alt="acmSplash">
                </div>
                <a href="https://www.lambrian.me/purple-team-backend/" target="_blank">
                    <div class="gallery_hover">
                        <div class="hover_inner">
                            <span>Event Splash Page Generator</span>
                                <h3>ACM Splash Pages</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="single_gallery small_width">
                <div class="thumb">
                    <img src="assets/portfolio/greustbot.png" alt="GreustBot">
                </div>
                <a href="https://www.lambrian.me/DiscordBot/" target="_blank">
                    <div class="gallery_hover">
                        <div class="hover_inner">
                            <span>Multipurpose Discord bot</span>
                            
                                <h3>GreustBot</h3>
                            
                        </div>
                    </div>
                </a>
            </div>
            <div class="single_gallery">
                <div class="thumb">
                    <img src="assets/portfolio/ping.png" alt="PING">
                </div>
                <a href="https://www.lambrian.me/PINGapp/" target="_blank">
                    <div class="gallery_hover">
                        <div class="hover_inner">
                            <span>Network Connection Analyzer</span>
                            
                                <h3>PING!</h3>
                            
                        </div>
                    </div>
                </a>
            </div>
            <div class="single_gallery">
                <div>
                    <img>
                </div>
            </div>
            <div class="single_gallery small_width">
                <div class="thumb">
                    <img src="assets/portfolio/ACMTeamFinder.png" alt="ACMLink">
                </div>
                    <div class="gallery_hover">
                        <div class="hover_inner">
                            <span>Looking for Group App</span>
                            
                                <h3>ACM Teammate Finder</h3>
                            
                        </div>
                    </div>
            </div>
        </div>
    </div>

</div>