<div class="project-details">
    <h1>My projects</h1>
    <p>These are some of the passion projects that I have taken on throughout my programming career. Some of these projects are polished and complete while others remained prototypes that I could learn and build off of in the future.
    </p>
</div>

<div class="projects-flex">
    <div class="flex-container">
        <div class="project">
            <h3>PING!</h3>
            <img src="/assets/favicon.png" alt="Project1">
            <p>An Android application that checks your ping to the internet.</p>
        </div>
        <div class="project">
            <h3>GreustBot</h3>
            <img src="/assets/favicon.png" alt="Project1">
            <p>"A Discord bot that encourages interactions between users within a server."</p>
        </div>
        <div class="project">
            <h3>ACM Splash Pages</h3>
            <img src="/assets/favicon.png" alt="Project1">
            <p>"A web application that generates a webpage at ease for events hosted by ACM UCSD."</p>
        </div>
    </div>

</div>