<div class="project-details">
    <h1>My projects</h1>
    <p>These are some of the passion projects that I have taken on throughout my programming career. Some of these projects are polished and complete while others remained prototypes that I could learn and build off of in the future. Click on each project
        to find out more!
    </p>
</div>

<div class="projects-flex">
    <div class="flex-container">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h3>PING!</h3>
                    <img src="/assets/pingicon.png" alt="PING!" class="image">
                    <p>An Android application that checks your ping to the internet.</p>
                </div>
                <div class="flip-card-back">
                    <h3>PING!</h3>
                    <p>Developed entirely in Android Studio</p>
                    <p>PING! brings forwards multiple functions that allow for everyone to have a lag-free day.</p>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h3>GreustBot</h3>
                    <img src="/assets/discordies.png" alt="PING!" class="image">
                    <p>A Discord bot that encourages interactions between users within a server.</p>
                </div>
                <div class="flip-card-back">
                    <h3>GreustBot</h3>
                    <p>Built with JavaScript integrating libraries Node.js and Discord.js.</p>
                    <p>GreustBot brings forwards multiple functions that allow for everyone to have a lag-free day.</p>
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h3>ACM Splash Pages</h3>
                    <img src="/assets/acmLogo.png" alt="ACMSplash" class="image">
                    <p>A web application that generates splash pages at ease for events hosted by ACM UCSD.</p>
                </div>
                <div class="flip-card-back">
                    <h3>GreustBot</h3>
                    <p>Built with JavaScript integrating libraries Node.js and Discord.js.</p>
                    <p>GreustBot brings forwards multiple functions that allow for everyone to have a lag-free day.</p>
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<div>
    <dialog id="dialogPING">
        <p>Hello! This is a dialog!</p>
    </dialog>
</div>